.col-4
    img(src= produits.image)
    p= produits.description
    button.btn-secondary.snipcart-add-item(
    data-item-id= produits.id, 
    data-item-name= produits.name, 
    data-item-price= produits.price, 
    data-item-weight= produits.weight, 
    data-item-url= produits.url, 
    data-item-description= produits.description) Ajouter pour #{produits.price}$